
/* ---- CSS RESET-----*/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* ---- TYPOGRAPHY-----*/

h1{
    font-size: 5em;
    margin-top: 15%;
    margin-left: 12.5%;
    margin-right: 7.5%;
    color: #f5f5f5;
}

h2{
    font-size: 3em;
    margin-top: 5%;
    margin-left: 12.5%;
    margin-right: 7.5%;
    color: #f5f5f5;
}

h4{
    font-size: 2em;
    margin-top: 5%;
    margin-left: 12.5%;
    margin-right: 7.5%;
}

p{
    font-size: 1.5em;
    margin-top: 5%;
    margin-left: 12.5%;
    margin-right: 2.5%;
}

/* ---- IMAGERY-----*/

.img{
    width: 200px;
    height: 200px;
}

/* ---- LAYOUT-----*/

body{
  overflow: auto;
  overflow-y: hidden;
}



#intro{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-image: url(../images/herobg.png);
    background-size: 100% ;
    background-repeat: no-repeat;
      z-index: 1;
  position: absolute;
  bottom: 0;
}

#part1{
    width: 200%;
    height: 100vh;
    background-color: green;
  z-index: 2;
  margin-left: 100%;
  position: absolute;
  bottom: 0;
}

#firstpara1{
    margin-top: 10%;
    width: 25%;
    height: 12.5%;
}

#firstpara2{
    margin-top: 5%;
    margin-left: 25%;
    width: 25%;
    height: 17.5%;
}

#firstpara3{
    margin-top: -15%;
    margin-left: 50%;
    width: 25%;
    height: 20%;
}

#firstpara4{
    margin-top: 4%;
    margin-left: 75%;
    width: 25%;
    height: 20%;
}

#part2{
    width: 400%;
    height: 100vh;
    background-color: yellow;
  z-index: 3;
  margin-left: 300%;
  position: absolute;
  bottom: 0;
}

#part3{
    width: 100%;
    height: 100vh;
    background-color: red;
  z-index: 4;
  margin-left: 700%;
  position: absolute;
  bottom: 0;
}

#part4{
    width: 100%;
    height: 100vh;
    background-color: deepskyblue;
  z-index: 5;
  margin-left: 800%;
  position: absolute;
  bottom: 0;
}

#part5{
    width: 100%;
    height: 100vh;
    background-color: orange;
  z-index: 6;
  margin-left: 900%;
  position: absolute;
  bottom: 0;
}

#part6{
    width: 100%;
    height: 100vh;
    background-color: pink;
  z-index: 7;
  margin-left: 1000%;
  position: absolute;
  bottom: 0;
}

#footer{
        width: 100%;
    height: 100vh;
    background-color: lightgrey;
  z-index: 7;
  margin-left: 1100%;
  position: absolute;
  bottom: 0;
    
}